/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #333743;
        margin-left: auto;
        padding: 40px 20px 20px 15px;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-left: 20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav-toggleable-sm {
    padding-top: 95px;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #555;
    background-color: #F4F4F4;
}

.nav-pills>li>a {
    border-radius: 0px;
    color: #ffffff;
    font-family: "Proxima Nova","Arial Black", Verdana, "Droid Sans", sans-serif;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/* global body padding */
body {
    padding-bottom: 20px;
    background-color: #F4F4F4;
}

@media (min-width: 768px) {
    body {
        padding-bottom: 50px;
    }
}


/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar-fixed-top,
.navbar-static-top {
    border-bottom: 0;
}

.navbar {
    background-color: #ffffff;
}

code {
    display: block;
    white-space: pre-wrap;
}

.content {
    background-color: white;
}

.statcard-desc {
    font-size: 73%;
}