@import java.util
@import usecases.models.KeyStatCard
@import installationscounter.ui.UpgradeBillingPlanInfo
@(user: models.User, application: models.Application, applications: util.List[Application], keyStatCards: util.List[KeyStatCard], upgradeBillingPlanInfo: UpgradeBillingPlanInfo)

@views.html.commandcenter.main("Command Center", user, upgradeBillingPlanInfo) {

    <div class="row">

        @commandcenter.sidebar(user, applications)
        @commandcenter.upgradeBillingPlanAlert(upgradeBillingPlanInfo)

        <div class="col-sm-9 col-sm-offset-3 main content">

            <div class="dashhead">
                <div class="dashhead-titles">
                    <h1 class="dashhead-title">@application.getAppPackage</h1>
                    <h2 class="dashhead-subtitle">Summary</h2>
                </div>

            </div>

            <hr class="m-t">

            <div class="row statcards">
                @for(keyStatCard <- keyStatCards) {
                    <div class="col-sm-6 col-lg-3 m-b">
                        <a href="@controllers.routes.CommandCenterController.grafana()">
                        @commandcenter.statcard(keyStatCard.getMain.getDescription, keyStatCard.getMain.getNumber, keyStatCard.getMain.getUnit, keyStatCard.getMain.getLineChart, keyStatCard.getMain.getThreshold)
                        </a>
                    </div>
                }
            </div>
            @for(keyStatCard <- keyStatCards) {
                @if(keyStatCard.getDetails.size() > 0) {
                    <div class="hr-divider m-t-md m-b">
                        <h3 class="hr-divider-content hr-divider-heading">@keyStatCard.getMain.getDescription</h3>
                    </div>
                    <div class="row statcards">
                    @for(statCard <- keyStatCard.getDetails) {
                        <div class="col-sm-6 col-lg-3 m-b">
                            <a href="@controllers.routes.CommandCenterController.grafana()">
                            @commandcenter.statcard(statCard.getDescription, statCard.getNumber, statCard.getUnit, statCard.getLineChart, statCard.getThreshold)
                            </a>
                        </div>
                    }
                    </div>
                }
            }
        </div>
    </div>
}