@import usecases.models.StatCard
@import java.util
@import usecases.models.KeyStatCard
@(user: models.User, application: models.Application, applications: util.List[Application], keyStatCards: util.List[KeyStatCard])


@views.html.commandcenter.main("Command Center", user) {

    <div class="row">

        @commandcenter.sidebar(user, applications)

        <div class="col-sm-9 col-sm-offset-3 main content">

            <div class="dashhead">
                <div class="dashhead-titles">
                    <h1 class="dashhead-title">@application.getAppPackage</h1>
                    <h2 class="dashhead-subtitle">Summary</h2>
                </div>

            </div>

            <hr class="m-t">

            <div class="row statcards">
                @for(keyStatCard <- keyStatCards) {
                    <div class="col-sm-6 col-lg-3 m-b">
                        <a href="@controllers.routes.CommandCenterController.grafana()">
                        @commandcenter.statcard(keyStatCard.getMain.getDescription, keyStatCard.getMain.getNumber, keyStatCard.getMain.getUnit, keyStatCard.getMain.getLineChart, keyStatCard.getMain.getThreshold)
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}