@import java.util
@(user: models.User, application: models.Application, applications: util.List[Application])


    @views.html.commandcenter.main("Command Center", user) {

            <div class="row">

                @commandcenter.sidebar(user, applications)

                <div class="col-sm-9 col-sm-offset-3 main content">

                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h1 class="dashhead-title">@application.getAppPackage</h1>
                            <h2 class="dashhead-subtitle">Summary</h2>
                        </div>

                    </div>

                    <hr class="m-t">

                    <div class="row statcards">
                        <div class="col-sm-6 col-lg-3 m-b">
                            <div class="statcard statcard-success">
                                <div class="p-a">
                                    <span class="statcard-desc">Page views</span>
                                    <h2 class="statcard-number">
                                        12,938
                                        <small class="delta-indicator delta-positive">5%</small>
                                    </h2>
                                    <hr class="statcard-hr m-b-0">
                                </div>
                                <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[28,68,41,43,96,45,100]}]" data-labels="['a','b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 m-b">
                            <div class="statcard statcard-danger">
                                <div class="p-a">
                                    <span class="statcard-desc">Downloads</span>
                                    <h2 class="statcard-number">
                                        758
                                        <small class="delta-indicator delta-negative">1.3%</small>
                                    </h2>
                                    <hr class="statcard-hr m-b-0">
                                </div>
                                <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[4,34,64,27,96,50,80]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 m-b">
                            <div class="statcard statcard-info">
                                <div class="p-a">
                                    <span class="statcard-desc">Sign-ups</span>
                                    <h2 class="statcard-number">
                                        1,293
                                        <small class="delta-indicator delta-positive">6.75%</small>
                                    </h2>
                                    <hr class="statcard-hr m-b-0">
                                </div>
                                <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[12,38,32,60,36,54,68]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 m-b">
                            <div class="statcard statcard-warning">
                                <div class="p-a">
                                    <span class="statcard-desc">Downloads</span>
                                    <h2 class="statcard-number">
                                        758
                                        <small class="delta-indicator delta-negative">1.3%</small>
                                    </h2>
                                    <hr class="statcard-hr m-b-0">
                                </div>
                                <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[43,48,52,58,50,95,100]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    }