@import java.util
@import usecases.models.Billing
@(billing: Billing)

<div class="row">
    <div class="col-sm-6">
        <address>
            <strong>Billing Information</strong><br>
            @billing.getFullName<br>
            @billing.getEmail<br>
            @billing.getAddress<br>
            @billing.getCity,
            @billing.getPostalCode<br>
            @billing.getCountry
        </address>
    </div>

    <div class="col-sm-6">
        <address>
            <strong>Payment Information</strong><br>
            <strong>Credit card</strong>: @billing.getCardNumber<br>
            <strong>Current plan</strong>: @billing.getCurrentPlan
        </address>
    </div>
</div>

<div class="placeholder"></div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Plan</th>
                <th>Invoice</th>
            </tr>
            </thead>
            <tbody>
            @for(transaction <- billing.getTransactions) {
            <tr>
                <td>
                    @transaction.getId
                </td>
                <td>
                    @transaction.getCreationDate
                </td>
                <td>
                    @transaction.getAmount @transaction.getCurrency
                </td>
                <td>
                    @transaction.getPlan
                </td>
                <td>
                    @if(transaction.getInvoiceUrl != null) {
                    <a href="@transaction.getInvoiceUrl">Link</a>
                    }
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="placeholder"></div>

<div class="row">
    <div class="pull-right">
        <button type="button" class="btn btn-change-sub">Change subscription</button>
        <button type="button" class="btn btn-cancel-sub">Cancel subscription</button>
    </div>
</div>