@import java.util
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, user: models.User, apiKey: ApiKey, applications: util.List[Application], sdkVersion: String, autoRefresh: Boolean)
    @views.html.commandcenter.main("Command Center", user) {
        @if(autoRefresh) {
            <script defer src="@routes.Assets.versioned("javascripts/reloadCommandCenter.js")"></script>
        }
        @if(!user.isActive) {
            <div class="row">

                @commandcenter.sidebar(user, applications)

                <div class="col-sm-9 col-sm-offset-3 main content">

                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h1 class="dashhead-title">Hang in there buddy! Just a little bit longer...</h1>
                            <h2 class="dashhead-subtitle">We are working hard preparing a cozy place for your app in our servers.</h2>
                        </div>
                    </div>
                    <p>Thank you so much for signing up to FlowUp! Because of the high usage of FlowUp, we're activating accounts on a user-by-user basis. You'll get a second email as soon as we're ready for you.</p>


                        <p>Cheers,</p>
                        <p>The FlowUp Team.</p>

                    <hr class="m-t">

                </div>
            </div>

        } else {
            <div class="row">

                @commandcenter.sidebar(user, applications)

                <div class="col-sm-9 col-sm-offset-3 main content">

                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h1 class="dashhead-title">Getting started with Flow Up in iOS</h1>
                        </div>
                    </div>

                    <hr class="m-t">

                    <div class="row">
                        <div class="col-sm-9">
                            <h2>Add the SDK to your build:</h2>
                            <p>
                                Add the following dependency to your Podfile:
                            </p>

                            <pre><code class="language-ruby">
pod 'FlowUpIOSSDK', '~> @sdkVersion'
                            </code></pre>

                            <hr class="m-t">

                            <h2>Initialize FlowUp:</h2>

                            <p>
                                Initialize the FlowUp iOS SDK in the your AppDelegate class viewDidLoad method.
                            </p>

                            <p>Objective-C:</p>
                            <pre><code class="language-objectivec">
[FlowUp application:application<br/>
didFinishLaunchingWithOptions:launchOptions<br/>
                 apiKey:&#64;&quot;@apiKey.getValue&quot;<br/>
     isDebugModeEnabled:YES];
                            </code></pre>

                            <p>Swift</p>
                            <pre><code class="language-swift">
[FlowUp application:application<br/>
didFinishLaunchingWithOptions:launchOptions<br/>
                 apiKey:&#64;&quot;@apiKey.getValue&quot;<br/>
     isDebugModeEnabled:YES];
                            </code></pre>

                            <hr class="m-t">

                            <h2>Build and run your application:</h2>

                            <p>Build and run your app in the simulator or real device to start seeing data.</p>

                            <hr class="m-t">

                            <h2>Refresh this page and start seeing data in just a few seconds:</h2>

                            <p>Within seconds you will see data in your FlowUp Dashboards.</p>
                        </div>
                    </div>


                    <p>Additionally, remember you can send an email to support@@flowup.io asking for any doubt or issue.</p>

                </div>
            </div>

        }
    }
