@(playAuth: com.feth.play.module.pa.PlayAuthenticate, localUser: models.User = null)

@import com.feth.play.module.pa.views.html._

@views.html.commandcenter.main("Command Center") {

    <div class="row">

        @commandcenter.sidebar()

        <div class="col-sm-9 col-sm-offset-3 main content">
            <div class="row">

                                <p>
                                    Your name is @localUser and your email address is @localUser.getEmail
                                    <i>
                                    @if(!localUser.isEmailValidated) {
                                        (unverified)
                                    } else {
                                        (verified)
                                    }</i>!

                                    <br/>
                                    @currentAuth(playAuth) { auth =>
                                        Logged in with provider '@auth.getProvider()' and the user ID '@auth.getId()'<br/>
                                        Your session expires
                                        @if(auth.expires() == -1) {
                                            never
                                        } else {
                                            at @auth.expires() (UNIX timestamp)
                                    }
                                    }
                                </p>
            </div>


        </div>
    </div>
}