@import java.util
@(billingId: String)

<p>You are now using the <strong>Developer</strong> free plan.</p>

<div class="sm-space"></div>

<div class="col-md-4">
    <div class="well plan">
        <h3 class="text-center"><strong>Professional</strong></h3>
        <hr class="sm-margin">
        <p class="text-center">1000 Daily Active Users</p>
        <hr class="sm-margin">
        <p class="text-center"><strong>€ 150.00/mo</strong></p>
        <hr class="sm-margin">
        <a id="professional" class="btn btn-block btn-action" data-billing-id="@billingId">Select</a>
    </div>
</div>

<div class="col-md-4">
    <div class="well plan">
        <h3 class="text-center"><strong>Business</strong></h3>
        <hr class="sm-margin">
        <p class="text-center">10000 Daily Active Users</p>
        <hr class="sm-margin">
        <p class="text-center"><strong>€ 1500.00/mo</strong></p>
        <hr class="sm-margin">
        <a id="business" class="btn btn-block btn-action" data-billing-id="@billingId">Select</a>
    </div>
</div>

<div class="col-md-4">
    <div class="well plan">
        <h3 class="text-center"><strong>Enterprise</strong></h3>
        <hr class="sm-margin">
        <p class="text-center">+10000 Daily Active Users</p>
        <hr class="sm-margin">
        <p class="text-center"><strong>Negotiable</strong></p>
        <hr class="sm-margin">
        <a href="mailto:support@@flowup.io?Subject=Subscribe%20to%20the%20enterprise%20plan"
           class="btn btn-block btn-action">Contact us</a>
    </div>
</div>

<script type="text/javascript" src="https://api.taxamo.com/js/v1/taxamo.all.js"></script>
<script src="@routes.Assets.versioned("javascripts/plans.js")"></script>