<div class="col-sm-3 sidebar">
    <nav class="sidebar-nav">
        <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="../index.html">
                <img class="icon sidebar-brand-icon" src="@routes.Assets.versioned("images/logo.png")">
            </a>
        </div>

        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header">Command Center</li>
                <li >
                    <a href="../index.html">Overview</a>
                </li>
                <li >
                    <a href="../order-history/index.html">Dashboard</a>
                </li>

                <li class="nav-header">More</li>
                <li >
                    <a href="../docs/index.html">
                                Organization
                    </a>
                </li>
            </ul>
            <hr class="visible-xs m-t">
        </div>
    </nav>
</div>