@import java.util
@(user: models.User, applications: util.List[models.Application])

<div class="col-sm-3 sidebar">
    <nav class="nav-sidebar">
        <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="@controllers.routes.CommandCenterController.index()">
                <img class="icon sidebar-brand-icon" src="@routes.Assets.versioned("images/logo.png")">
            </a>
        </div>

        @if(user.isActive) {
        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header">Command Center</li>
                <li>
                    <a href="@controllers.routes.CommandCenterController.gettingStarted()">Getting Started</a>
                </li>
                @if(!applications.isEmpty) {
                    <li>
                        <a target="_blank" href="@controllers.routes.CommandCenterController.grafana()">Dashboards</a>
                    </li>

                    @for(application <- applications) {
                        <li><a href="@controllers.routes.CommandCenterController.application(application.getId.toString)">@application.getAppPackage</a></li>
                    }
                }

                <li class="nav-header">More</li>
                <li ><a href="//flowup.io/whyFlowUp.html">Why FlowUp</a></li>
                <li ><a href="//flowup.io/features.html">Features</a></li>
                <li ><a href="//flowup.io/documentation.html">Documentation</a></li>
                <li ><a href="//flowup.io/pricing.html">Pricing</a></li>
                <li ><a href="@controllers.routes.CommandCenterController.billing()">Billing</a></li>
            </ul>
            <hr class="visible-xs m-t">
        </div>
        }
    </nav>
</div>