@import play.libs.Json
@import usecases.models.LineChart
@import usecases.models.Threshold
@(status: String, description: String, mainNumber: Double, unit: String, lineChart: LineChart, threshold: Threshold)
@statcardClass(threshold: Threshold) = @{
    if(threshold == Threshold.NO_DATA) {
        "statcard-info"
    } else if (threshold == Threshold.SEVERE) {
        "statcard-danger"
    } else if (threshold == Threshold.WARNING) {
        "statcard-warning"
    } else if (threshold == Threshold.OK) {
        "statcard-success"
    }
}
<div class="statcard @statcardClass(threshold)">
    <div class="p-a">
        <span class="statcard-desc">@description</span>
        @if(mainNumber != null) {
            <h2 class="statcard-number">@("%.2f".format(mainNumber)) @unit</h2>
        } else {
            <h2 class="statcard-number">N/A</h2>
        }
        <hr class="statcard-hr m-b-0">
    </div>
    <canvas width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:@Json.toJson(lineChart.getValues).toString}]" data-labels="@lineChart.getLabels.map(label => "'" + label + "'").mkString(",")" style="width: 189px;
        height: 47px;"></canvas>
</div>
