@(id: String, form: Form[Application])

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@views.html.admin.main {
    
    <h1>Edit Application</h1>
    
    @b3.form(controllers.admin.routes.ApplicationController.update(id)) {
        
        <fieldset>
            @b3.text(form("appPackage"), '_label -> "appPackage", '_help -> "")
            @b3.text(form("organization"), '_label -> "organization", '_help -> "")
            @b3.text(form("grafanaId"), '_label -> "grafanaId", '_help -> "")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save User" class="btn primary"> or
            <a href="@controllers.admin.routes.ApplicationController.list()" class="btn">Cancel</a>
        </div>
        
    }
    
    @b3.form(controllers.admin.routes.ApplicationController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete User" class="btn danger">
    }
    
}
