@(playAuth: com.feth.play.module.pa.PlayAuthenticate)

@import com.feth.play.module.pa.views.html._

@main("Log In / Sign Up to FlowUp") {
    <style>
        body {
            background: #333743;
            color: #DEDEDE;
            padding-top:    50px;
            padding-bottom: 50px;
        }

        .logo {
            margin-bottom: 50px;
        }
    </style>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <img src="@routes.Assets.versioned("images/logo.png")" class="img-responsive logo" alt="Flow Up">
                </div>
            </div>

            <h2 class="form-signin-heading text-center">Log In / Sign Up to FlowUp</h2>
            <div id="login">
            @providerAvailable("google") { available: Boolean =>
                @if(available) {
                    <a href="@com.feth.play.module.pa.controllers.routes.Authenticate.authenticate("google")" class="btn" role="button">
                        <img alt="Sign in with Google" class="img-responsive" src="@routes.Assets.versioned("images/google_signin_button/2x/btn_google_signin_dark_normal_web@2x.png")">
                    </a>
                }
            }
            </div>
        </div>
    </div>
}
